<html lang="ko">
{% include "head.html" %}
<body class="join_body">
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto"><h4 class="mb-3">UAT 회원가입</h4>
            <form class="validation-form" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3"><label for="nickname">닉네임</label>
                        <input type="text" class="form-control" id="nickname" placeholder="" value="" required maxlength="8">
                        <div class="invalid-feedback"> 닉네임을 입력해주세요.</div>
                    </div>
                </div>
                <div class="mb-3"><label for="email">이메일</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com" required>

                    <div class="invalid-feedback"> 이메일을 입력해주세요.</div>
                </div>


                <hr class="mb-4">
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input"
                                                                   id="aggrement" required> <label
                        class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label></div>
                <div class="mb-4"></div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>
<script>
    window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');
        Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                } else {
                    alert("233")
                    ${

                    }
                }
                form.classList.add('was-validated');
            }, false);

        });
    }, false);

</script>