<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
{% include "header.html" %}
<body>

<section id="hero" class="d-flex align-items-center">

    {% if "0" == auto_trading_status %}
        <div class="trading_switch-area" style="margin: 0 auto">
            <a href="javascript:void(0)" values="{{ safe_trading_status }}" id="trading_switch" class="btn-about"
               style="background-color: #71c445">안전 매매 시작</a>
        </div>
    {% else %}
        <div class="trading_switch-area" style="margin: 0 auto">
            <a href="javascript:void(0)" values="{{ safe_trading_status }}" id="trading_switch" class="btn-about"
               style="background-color: rgba(225,0,81,0.96)">안전 매매 종료</a>
        </div>
    {% endif %}


</section>
<div class="trading_history" style="padding: 100px">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">코인</th>
            <th scope="col">매수가</th>
            <th scope="col">매매가</th>
            <th scope="col">수익률</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<script>


    $(function () {
        $('#trading_switch').click(function () {
            $.ajax({
                type: "PUT",
                url: "{% url 'user:trading_switch' %}",
                data: JSON.stringify({'status': $('#trading_switch').val()}),

                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Content-type", "application/json");
                },
                success: function (response) {
                    if (response.data.CODE == "success1001") {
                        $('#trading_switch').css("background-color", "rgba(225,0,81,0.96)");
                        $('#trading_switch').text('자동매매 종료');
                        $('#trading_switch').val('1')

                    } else if (response.data.CODE == "success1002") {
                        $('#trading_switch').css("background-color", "#71C445FF");
                        $('#trading_switch').text('자동매매 시작');
                        $('#trading_switch').val('0')

                    } else {
                        alert('잠시 후 다시 시도 해주세요');
                        location.reload();
                    }
                },
                error: function (request, status, error) {
                },
            });

        });
    });
</script>